#site-header {
    padding: 10px 0;
    background: #666;
    
    .title {
        text-transform: uppercase;
        color: #fff;
        height: 42px;
        line-height: 42px;
        float: left;
        letter-spacing: 2px;
    }
    
    .logout {
        float: right;
    }
}

#site-nav {
    background: #d6d6d6;
    text-align: center;
    
    a {
        display: inline-block;
        height: 3.125em;
        line-height: 3.125em;
        letter-spacing: 1px;
        color: #888;
        padding: 0 20px;
        @include transition(all .2s ease-in-out);
        transition-property: color, background;
    }
    a:hover {
        border-bottom: 4px solid #777;
        color: #444;
    }
    a:active {
        border-color: #999;
        color: #fff; 
        
    }
    a.active {
        border-bottom: 4px solid $primary-green;
        color: #222;
    }
}