#site-nav {
    background: #eaeaea;
    text-align: center;
    
    a {
        display: inline-block;
        height: 3.125em;
        line-height: 3.125em;
        letter-spacing: 1px;
        color: #999;
        padding: 0 20px;
        @include transition(all .2s ease-in-out);
        transition-property: color, background;
    }
    a:hover {
        border-bottom: 4px solid #777;
        color: #666;
    }
    a:active {
        border-color: #999;
        color: #fff; 
        
    }
    a.active {
        border-bottom: 4px solid $primary-green;
        color: #222;
    }
}