// Neutral
$button-neutral-color: #666;
$button-neutral-color-light: #999;
$button-neutral-color-dark: #555;
// Submit
$button-submit-color: #99c420;
$button-submit-color-light: #B1CE5F;
$button-submit-color-dark: #719118;
// Cancel
$button-cancel-color: #c0c0c0;
$button-cancel-color-light: #CDCDCD;
$button-cancel-color-dark: #808080;
// Danger
$button-danger-color: #e74c3c;
$button-danger-color-light: #F47461;
$button-danger-color-dark: #A7372B;


button, input[type="submit"] {
    background-color: none;
    text-transform: uppercase;
    font-size: .875em;
    height: $standard-element-height;
    line-height: $standard-element-height - 2; // Account for border
    padding: 0 20px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    letter-spacing: 2px;
}

// States
button {
    background-color: $button-neutral-color;
    color: $button-neutral-color;
    border-color: $button-neutral-color;
}
.submit {
    background-color: $button-submit-color;
    color: $button-submit-color;
    border-color: $button-submit-color;
}
.cancel {
    background-color: $button-cancel-color;
    color: $button-cancel-color;
    border-color: $button-cancel-color;
}
.danger {
    background-color: $button-danger-color;
    color: $button-danger-color;
    border-color: $button-danger-color;
}
//// Hover
button:hover {
    background-color: $button-neutral-color-light;
    color: $button-neutral-color-light;
    border-color: $button-neutral-color-light;
}
.submit:hover {
    background-color: $button-submit-color-light;
    color: $button-submit-color-light;
    border-color: $button-submit-color-light;
}
.cancel:hover {
    background-color: $button-cancel-color-light;
    color: $button-cancel-color-light;
    border-color: $button-cancel-color-light;
}
.danger:hover {
    background-color: $button-danger-color-light;
    color: $button-danger-color-light;
    border-color: $button-danger-color-light;
}
//// Active
button:active {
    background-color: $button-neutral-color-dark;
    color: $button-neutral-color-dark;
    border-color: $button-neutral-color-dark;
}
.submit:active {
    background-color: $button-submit-color-dark;
    color: $button-submit-color-dark;
    border-color: $button-submit-color-dark;
}
.cancel:active {
    background-color: $button-cancel-color-dark;
    color: $button-cancel-color-dark;
    border-color: $button-cancel-color-dark;
}
.danger:active {
    background-color: $button-danger-color-dark;
    color: $button-danger-color-dark;
    border-color: $button-danger-color-dark;
}




// Types

.subtle {
    background: none;
    border-color: rgba(255, 255, 255, 0.0);
}
.subtle-white {
    background: none;
    border-color: rgba(255, 255, 255, 0.0);
}
.subtle-filled {
    background: none; 
    border-color: rgba(255, 255, 255, 0.0);
}
.hollow {
    background: none;
}
.white {
    border-color: #fff;
    color: #fff;
}
.filled {
    color: #fff;
}
//// Hover
.subtle:hover {
    background: none;
    border-color: rgba(255, 255, 255, 0.0);
}
.subtle-filled:hover {
    color: #fff;
}
.hollow:hover {
    color: #fff;
}
.white:hover {
    border-color: #fff;
    color: #fff;
}
.filled:hover {
    color: #fff;
}
//// Active
.subtle:active {
    background: none;
    border-color: rgba(255, 255, 255, 0.0);
}
.subtle-filled:active {
    color: #fff;
}
.hollow:active {
    color: #fff;
}
.white:active {
    border-color: #fff;
    color: #fff;
}
.filled:active {
    color: #fff;
}




