table {
    tr {
        th {
            padding: 10px 20px;
            border: 1px solid #eaeaea;
            background: #f9f9f9;
        }
        td {
            padding: 10px 20px;
            border: 1px solid #eaeaea;
        }
    }
}