


// Colors ///////////////////////////////////////////

//// Green
$primary-green: #99c420;
$dark-green: #85a838;
$light-green: #A8CC40;

//// Purple
$primary-purple: #9b59b6;
$dark-purple: #8e44ad;
$light-purple: #BF55EC;
$very-light-purple: #BE90D4;

//// Error
$error-bg: #f2dede;
$error-border: #ebccd1;
$error-color: #a94442;
$color-error-3: #D64541;

//// Info
$info-bg: #d9edf7;
$info-border: #bce8f1;
$info-color: #31708f;
$clr-info-3: #19B5FE;

$primary-fonts: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

// Heights //////////////////////////////////////////

//// Bar
$bar-height: 50px;

//// Standar Item (Input / Buttons)
$standard-element-height: 42px;
