#admin-header {
    text-align: center;
    background: #666;
    color: #fff;
    padding: 6px 0;
    text-transform: uppercase;
    
    .title {
        float: left;
    }
    a {
        display: block;
        float: right;
    }
}

#section-header {
    margin-top: 40px;
    
    nav {
        float: left;
        
        a {
            text-transform: uppercase;
            color: #999;
            font-size: 1.5em;
            font-weight: 300;
            margin-right: 20px;
			letter-spacing: 1px;
        }
        a.active {
            font-size: 2em;
            color: #99c420;
        }
    }
}